<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Rooms</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
</head>
<body class="container py-4">
  <h1>Rooms</h1>

  <form th:action="@{/rooms}" th:object="${room}" method="post" class="row g-2 mb-4">
    <div class="col-md-3">
      <input th:field="*{name}" class="form-control" placeholder="Name"/>
    </div>
    <div class="col-md-2">
      <input th:field="*{capacity}" type="number" min="1" class="form-control" placeholder="Capacity"/>
    </div>
    <div class="col-md-4">
      <input th:field="*{location}" class="form-control" placeholder="Location"/>
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary w-100" type="submit">Add</button>
    </div>
  </form>

  <table class="table table-striped">
    <thead><tr><th>ID</th><th>Name</th><th>Capacity</th><th>Location</th><th></th></tr></thead>
    <tbody>
    <tr th:each="r : ${rooms}">
      <td th:text="${r.id}"></td>
      <td th:text="${r.name}"></td>
      <td th:text="${r.capacity}"></td>
      <td th:text="${r.location}"></td>
      <td>
        <form th:action="@{'/rooms/' + ${r.id} + '/delete'}" method="post">
          <button class="btn btn-sm btn-danger" type="submit">Delete</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>

  <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
